@import '../../../../color.scss';

div.feedback {
  >div {
    padding: 15px 15px 0px 15px;
    overflow-x: scroll;
    white-space: nowrap;
    border-bottom: $light solid thin;

    >div {
        display: inline-block;
        text-align: center;
        padding-right: 15px;
      >div {
        height: 50px;
        width: 50px;
        background-color: $light;
        border: $light 3px solid;
        display: inline-block;
        border-radius: 100%;
        background-size: cover;
      }
      >span {
          font-size: 0.5em;
          display: block;
      }
    }
  }
}
