//==============================================
//	Common Variable
//==============================================

//
//	Typography Variable
//================================================
//

$default-font: 'Open Sans', Helvetica, Arial, sans-serif;

$roboto-font: 'Roboto', Helvetica, Arial, sans-serif;

$default-font-size: 14px;

$default-line-height: 25px;

$default-font-weight: regular;


//
//	Color Variable
//================================================
//
$default-color: #00bfa5; //rgb(0, 191, 165)

$default-color2: #00907c; //rgb(0, 144, 124)

$primary-color: #81868e; // rgb(129, 134, 142)

$section-header-color: #333b46; // rgb(51, 59, 70)

$sectitle-after-color: #898989; // // rgb(137, 137, 137)

$title-border-color: #6d6e71; // rgb(109, 110, 113)

$button-text-color: #636466; // rgb(99, 100, 102)

$white-color: #ffffff; // rgb(255, 255, 255)

$dark-color: #18181c; // rgb(24, 24, 28)

$overlay-color: rgba(24, 24, 28, 0.9); // #29292e

$hover-overlay: rgba(0, 191, 165, 0.9);

$box-shadow-color: rgba(0, 0, 0, 0.25);

// Breakpoints

$minw: 'min-width';
$maxw: 'max-width';
$XS: 320px;
$S:  480px;
$T:  767px;
$M:  991px;
$L:  1199px;

