.root {
  background-color: var(--secondary-background);
  padding: 2rem;
  margin: 1rem;
  border-radius: 16px;
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-wrap: balance;
  }

  p:not(:last-child) {
    margin-bottom: 1rem;
  }

  > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      > img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        border-radius: 16px;
      }
      > a {
        text-align: center;
        padding: 0.5rem 0;
        margin: 0.5rem 0 0 0;
        border-radius: 8px;
        color: var(--secondary-foreground);
      }
    }
  }
}

@media (max-width: 1000px) {
  .root {
    > div {
      grid-template-columns: 1fr;
      row-gap: 1rem;
      > div {
        > div > a {
          margin-bottom: 1rem;
        }
        > img {
          width: 100%;
        }
      }
    }
  }
}
