.root {
  p:not(:last-child) {
    margin-bottom: 1rem;
  }

  > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--medium-spacing);

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      > img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        border-radius: 16px;
      }
      > a {
        text-align: center;
        padding: var(--small-spacing) 0;
        margin: var(--small-spacing) 0 0 0;
        border-radius: var(--small-border-radius);
        color: var(--secondary-foreground);
      }
    }
  }
}

@media (max-width: 1000px) {
  .root {
    > div {
      grid-template-columns: 1fr;
      row-gap: var(--medium-spacing);
      > div {
        > div > a {
          margin-bottom: var(--small-spacing);
        }
        > img {
          width: 100%;
        }
      }
    }
  }
}
