.root {
  display: flex;
  column-gap: var(--medium-spacing);
  row-gap: var(--medium-spacing);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1000px) {
  .root {
    flex-direction: row;
  }
}

.imageContainer {
  flex: 0 0 50%;
}
