.menu {
  width: 100%;
  padding: var(--medium-spacing);
  max-width: 1500px;
  margin: 0 auto var(--medium-spacing) auto;
  border-radius: var(--medium-border-radius);
  background-color: var(--secondary-background);
}

.navHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  list-style: none;
  width: 100%;
}

.navHeader::-webkit-details-marker {
  display: none;
}

.name {
  font-weight: bold;
}

.hamburger {
  display: flex;
  flex-direction: column;
  width: 1.5rem;
  height: 1rem;
  justify-content: space-between;
  transition: transform 0.3s ease;
}

.hamburger span {
  width: 100%;
  height: 3px;
  background-color: var(--foreground);
  transition: all 0.3s ease;
  transform-origin: center;
}

.menu[open] {
  padding: var(--medium-spacing) var(--medium-spacing) 0 var(--medium-spacing);
}

.menu[open] .hamburger {
  > span:nth-child(1) {
    transform: rotate(45deg) translate(0.35rem, 0.35rem);
  }
  > span:nth-child(2) {
    opacity: 0;
  }
  > span:nth-child(3) {
    transform: rotate(-45deg) translate(0.25rem, -0.25rem);
  }
}

.menuItems {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: var(--medium-spacing) 0 var(--small-spacing) 0;
  gap: 8px;
}

@media (max-width: 1000px) {
  .menuItems {
    flex-direction: column;
    > a {
      padding-left: var(--medium-spacing);
      text-align: left;
    }
  }
}
