@import '../../../../color.scss';

div.header {
    background-color: $dark;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 200px 1fr;
    width: 100%;
    padding: 40px 0px 5px 0px;
    align-items: center;
    >a > img {
        width: 150px;
    }
    >a {
        color: #FFF;
    }
}