@keyframes animatedFocusOutline {
  0% {
    outline-offset: 3px;
  }
  50% {
    outline-offset: 6px;
  }
  100% {
    outline-offset: 3px;
  }
}

@keyframes animatedLinkHover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

:root {
  color-scheme: light dark;

  /* colors */
  --background: light-dark(#ffffff, #242424);
  --secondary-background: light-dark(#f4f4f4, #2f2f2f);
  --foreground: light-dark(#171717, #ffffff);
  --secondary-foreground: light-dark(#495057, #ced4da);

  /* spacing */
  --xxsmall-spacing: 2px;
  --xsmall-spacing: 4px;
  --small-spacing: 8px;
  --medium-spacing: 16px;
  --large-spacing: 32px;

  /* border radius */
  --small-border-radius: 8px;
  --medium-border-radius: 16px;

  /* focus outline */
  --focus-outline: light-dark(rgb(30, 72, 123), rgb(88, 183, 255));

  /* image filters */
  --logo-filter: brightness(0%);
}

/* desktop variables */
@media (min-width: 1200px) {
  :root {
    --xxsmall-spacing: 4px;
    --xsmall-spacing: 8px;
    --small-spacing: 16px;
    --medium-spacing: 32px;
    --large-spacing: 48px;
  }
}

/* dark mode variables */
@media (prefers-color-scheme: dark) {
  :root {
    --logo-filter: invert(1);
  }
}

section {
  padding: var(--medium-spacing);
  max-width: 1500px;
  margin: 0 auto var(--medium-spacing) auto;
  border-radius: var(--medium-border-radius);
  background-color: var(--secondary-background);
}

:focus {
  outline-color: var(--focus-outline);
  animation: animatedFocusOutline 1s ease infinite;
}

body {
  padding: var(--medium-spacing) var(--medium-spacing) 0 var(--medium-spacing);
  color: var(--foreground);
  background: var(--background);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

p {
  font-weight: 600;
  line-height: 1.5rem;
}

h1,
h2 {
  margin-bottom: 1rem;
  text-wrap: balance;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

a:hover {
  opacity: 0.8;
  animation: animatedLinkHover 1s ease infinite;
}
