:root {
  color-scheme: light dark;
  --background: light-dark(#ffffff, #242424);
  --secondary-background: light-dark(#f4f4f4, #2f2f2f);
  --foreground: light-dark(#171717, #ffffff);
  --secondary-foreground: light-dark(#495057, #ced4da);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

p {
  font-weight: 600;
  line-height: 1.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}
