@import '../../../color.scss';

div.feed {
    max-width: 370px;
    margin: 0px auto;
    >button.load-more {
        display: block;
        padding: 15px 0px;
        width: 100%;
        max-width: 345px;
        margin: 25px auto;
        border: none;
        color: #FFF;
        font-weight: bold;
        background-color: $light;
    }
}