.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--medium-spacing);
}

.textContainer,
.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textContainer {
  > h1,
  > p {
    margin-bottom: var(--medium-spacing);
    text-wrap: balance;
  }
}

@media (max-width: 1000px) {
  .root {
    grid-template-columns: 1fr;
    row-gap: var(--small-spacing);
    > div {
      > div > a {
        margin-bottom: var(--small-spacing);
      }
      > img {
        width: 100%;
      }
    }
  }
}
