 #right-section {
	position:absolute;
	right: 0px;
	display: block;
	height:100%;
	width: 50%;
	float: right;
	background-image:URL("http://36.media.tumblr.com/bec8cc7a2821a48b9d80c2d3fae37de4/tumblr_nlwmbhZssz1rtitfno8_1280.jpg");
	background-size:cover;
	background-position: center;
	}
	
	#questions{
		position:absolute;
		display: block;
		height:100%;
		background-color: #F7F7F7;
		width: 50%;
		float: left;
		padding: 25px 25px 25px 25px;
		text-align:left;
		overflow-x: scroll;
	}
	
	@media screen and (max-width: 1200px) {
		#right-section {
			display: none;
		}
		#questions {
			width:100%;
		}
	}
		
	.question-input {
		width:25%!important;
		min-width:250px;
		max-width: 400px;
		margin: 5px;
		display:inline-block;
	}
	
	#checkout-form {
		width: 75%;
	}
	
	#checkout-form input[type="text"] {
		width:45%;
		min-width:250px;
		max-width: 400px;
		margin: 5px;
		display:inline-block;
		text-align:center;
	}
	
	#checkout-form input[type="submit"] {
		width:100%;
		min-width:250px;
		max-width: 400px;
		margin: 5px;
		display:block;
	}
	
	#project-types {
		width: 100%;
		display:inline-table;
		overflow-x: scroll;
		position:relative;
	}
	
	#project-container {
		width: 500px;
		overflow-x: scroll;
		min-width:500px;
		margin-bottom:50px;
	}
	
	.project {
		width: 30%;
		min-width: 125px;
		display:inline-block;
	}
	
	@media screen and (max-width:600px) {
		.project {
			width: 75%;
		}
	}
	
	.project-details {
		width: 50%;
		display: inline-table;
		min-width:500px;
	}
	
	.project-details h2 {
		float:left;
		display:inline-block;
	}
	
	.project-details div {
		float:right;
		margin-top: 20px;
		display:inline-block;
	}
	
	.number-input input {
		float:right;
		margin-top:0px;
		display:inline-block;
		border: thin solid #999;
		border-radius:5px;
		width: 75px;
		padding:5px;
		text-align:center;
	}
	
	#project-types p {
		text-align: left;
		margin-top: -15px;
	}
	
	.get-my-quote {
		display: block!important;
		width:50%!important;
	}