/*
-----------------------------------------------
	Header Style
-----------------------------------------------
 */

#welcome {
	background-image: url("../img/bg-image/welcome-bg.jpg");
	@extend %background-attr;
	position: relative;

	.scroll-down {
		color: $default-color;
		text-transform: uppercase;
		position: absolute;
		left: 50%;
		bottom: 40px;
		width: 110px;
		margin-left: -55px;

		@include MQ($T, $maxw) {
			display: none;
		}

		.vline {

			&:before {
				content: "";
				position: absolute;
				border-radius: 12px;
				top: -10px;
				left: 42px;
				height: 40px;
				width: 25px;
				border: 2px solid $title-border-color;
				@include overflow();
			}
			> span {
				background-color: $title-border-color;
				height: 10px;
				width: 2px;
				transform: translateY(-10px);
				@include horcenter;
				@extend %transition;
				transition-duration: 1s;
				animation: scroll-indicator 3s linear infinite;
			}
		}

		p {
			@include margin-top(30px);
		}
	}
}

@keyframes scroll-indicator {
	0% {
		transform: translateY(-10px);
	}
	90% {
		transform: translateY(20px);
	}
	95% {
		transform: translateY(-10px);
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.welcome-inner {

	.welcome-heading {
		color: $title-border-color;

		.welcome-title {
			font-size: 50px;
			font-weight: bold;
			line-height: 67px;
			text-transform: uppercase;

			@include MQ($T, $maxw) {
				font-size: 24px;
				line-height: normal;
			}

			> span {
				color: $default-color;
			}
		}
	}

	.welcome-text {
		letter-spacing: 2px;
		line-height: 26px;
	}
}


/*
-----------------------------------------------
	FullScreen Background Style
-----------------------------------------------
 */

.bg-slider {

	// .overlay {
	// 	background-color: $overlay-color;
	// }

	// .welcome-title,
	// .welcome-text,
	// .navbar-default .okayNav li a {
	// 	color: $white-color;
	// }

	.scroll-down .vline > span {
		background-color: $white-color !important;
	}
}


/*
-----------------------------------------------
	Transparent Background Style
-----------------------------------------------
 */

.transparent {

	.overlay {
		background-color: rgba(255, 255, 255, 0.8);
	}

}