@import '../colors.scss';

.CommandLine {
    display: grid;
    grid-template-columns: 200px 1fr;
    div {
        height: 1px;
        width: 12px;
        margin-bottom: -2px;
        margin-left: 5px;
        margin: 0px 5px -2px 0px;
        background-color: $white;
        display: inline-block;
        animation: blink 500ms infinite;
    }
    span {
        margin-right: 5px;
    }
    input {
        background-color: $darkgrey;
        border: none;
        color: $white;
        width: 100%;
        margin-left: 10px;
    }
}

@keyframes blink {
    0% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}