@import '../config.scss';

header {
  background-color: $color3;
  display: grid;
  background-size: cover;
  > div {
    padding: $em6 $em4;
    background-color: rgba($color: #000000, $alpha: 0.75);
    > a {
      margin-top: $em5;
      margin-right: $em4;
      padding: $em2 $em3;
      border-radius: $em2;
      float: left;
      display: block;
      background-color: $white;
      color: $black;
      text-decoration: none;
    }
  }
}
