@import "../config.scss";

section.Resume {
  padding: $em4;
  > ul {
    list-style: none;
    > li {
      padding: $em2 0;
      > h3 {
        background-color: $color3;
        padding: $em3;
        cursor: pointer;
        > i {
          float: right;
        }
        > i.close {
          transform: rotate(-90deg);
          margin-right: 5px;
          animation-name: RotateIcon;
          animation-duration: 0.5s;
        }
      }
      > ul {
        font-size: $em4;
        padding: $em4;
      }
    }
  }
}

@keyframes RotateIcon {
  0% {
    transform: rotate(0deg);
    margin-right: 0px;
  }
  100% {
    transform: rotate(-90deg);
    margin-right: 5px;
  }
}
