@import "../config.scss";

a.Special {
  background-color: $color6;
  text-align: center;
  font-size: 0.75em;
  padding: $em3 0;
  font-weight: 100;
  display: block;
  text-decoration: none;
  color: $white;
}
