.root {
  padding: var(--medium-spacing);
  max-width: 1500px;
  margin: 0 auto var(--medium-spacing) auto;
  border-radius: var(--medium-border-radius);
  background-color: var(--secondary-background);

  > div:first-child {
    > h2 {
      margin-bottom: var(--small-spacing);
    }

    > p:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
