@import "../../config.scss";

header {
  background-color: $color3;
  display: grid;
  background-size: cover;
  > div {
    padding: $em6 $em4;
    background-color: rgba($color: $black, $alpha: 0.75);
    > button {
      margin-right: 15px;
    }
  }
}
