.App {
  padding: 25px;
}

.App p {
  margin: 0px;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.App p span.indicator {    
  width: 15px;
  display: inline-block;
  margin-bottom: -1px;
  margin-left: 5px;
  border-bottom: #FFF solid 3px;
  animation: .5s blink infinite;
}

.App .green {
  color: rgb(68, 160, 68);
}

.App .yellow {
  color: rgb(251, 255, 0);
}

.App .red {
  color: rgb(224, 18, 18);
}

.App .blue {
  color: rgb(18, 141, 224);
}

.App .item {
  margin-right: 25px;
}

.App a {
  text-decoration: none;
}

.App .bold {
  font-weight: bold;
}

.App p img.logo {
  width: 250px;
  margin-bottom: 15px;
}