/* colors */
$color1: #111;
$color3: #202020;
$color6: #666;
$white: #fff;
$black: #000;

/* fonts */
$font1: Helvetica;

/* increments */
$em1: 0.15em;
$em2: 0.25em;
$em3: 0.5em;
$em4: 1em;
$em5: 1.5em;
$em6: 3em;
$em7: 6.5em;
