@import "./config.scss";

html,
body {
  margin: 0;
  padding: 0;
  color: $white;
  font-family: $font1;
}

body {
  background-color: $color1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 100;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
