@import './color.scss';

body {
    background-color: $medium;
    color: $white;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    display: none;
}