.root {
  display: block;
  flex-direction: column;
  border: solid 3px var(--foreground);
  background-color: var(--foreground);
  border-radius: var(--medium-border-radius);
  overflow: hidden;
  position: relative;
}

.playbackControl {
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 2;
  background-color: var(--foreground);
  color: var(--background);
  padding: var(--xsmall-spacing) var(--medium-spacing);
  font-size: 1rem;
  border-bottom-left-radius: var(--medium-border-radius);
  cursor: pointer;
  font-weight: bold;
  width: 125px;
  text-decoration: underline;
}

.image {
  width: 100%;
  height: auto;
  margin-bottom: -5px;
  object-fit: cover;
  object-position: center;
}

.linkContainer {
  background-color: var(--foreground);
  display: block;
  text-align: center;
  color: var(--background);
  font-weight: bold;
  padding: var(--small-spacing);
  text-transform: capitalize;
  margin-top: 5px;

  > a {
    display: block;
  }

  &:hover {
    animation: var(--interactive-hover-animation);
  }
}
